body{
    background-color: white;
    margin: 0;
    padding:0;
}
*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    text-align: center;
    margin-top: 50px;
    font-style: italic;
    color: black;
}

.container{
    height: 400px;
    width: 600px;
    background-color: black;
    margin: 30px auto;
    border-radius: 12px;
    padding: 40px;
}

.questions{
    padding: 15px;
    background-color: white;
    border-radius: 12px;
    color: black;
    font-size: 20px;
}

.options{
    width: 100%;
    float: left;
    color: black;
    font-size: 18px;
}

.options ul{
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
}

.options ul li{
    display: inline-block;
    width: 48%;
    background-color:white;
    padding: 12px;
    margin: 20px 0px;
    border-radius: 12px;
}

.options ul li.correct{
    background-color: #0fd40f;
}

.options ul li.wrong{
    background-color: red;
}

.score{
    line-height: 46px;
    float: right;
    color: white;

}

.score span{
    background-color: white;
    color: black;
    padding: 12px  20px;
    border-radius: 12px;
}

.next{
    float: left;
}

.next button {
    padding: 12px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 15px;
    outline: none;
}

@media screen and (max-width: 601px) {
    .container{
        height: 580px;
        width: 300px;
        margin: 20px auto;
        padding: 20px;
    }
    .options ul li{
        width: 100%;
    }
}